<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/form.css" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="from">
        <img class="bgc" src="./img/12.jpg" alt="">
        <div class="submit">
            <span class="form_title">个人信息提交</span>
            <div class="form_input">
                <span>姓名：</span>
                <input class="inputs" type="text" value="何邦正">
            </div>
            <div class="form_input">
                <span>班级:</span>
                <input class="inputs" type="text" value="软件工程二班">
            </div>
            <div class="form_input">
                <span>学号：</span>
                <input class="inputs" type="text" value="1816270244">
            </div>
            <div class="form_input">
                <span>年龄：</span>
                <input class="inputs" type="text" value="19">
            </div>
            <div class="form_input">
                <span>学院：</span>
                <input class="inputs" type="text" value="计算机与通信学院">
            </div>
            <div class="form_input">
                <span>课程名称：</span>
                <input class="inputs" type="text" value="JavaWeb开发技术">
            </div>
             <div class="form_input">
                <span>兴趣爱好：</span>
                <input class="inputs" type="text" value="篮球、音乐">
            </div>
   
            <div class="btn_submit">
                <a href="./finish.html">
                    <button class="btn">提交</button></a>
                <a href="./index.html" class="back"><button class="home_href">首页</button></a>
            </div>
        </div>
    </div>
</body>
