<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>自定义风格迁移</title>
</head>
<body>
<div>
    <a href="{{ url_for('zhuye') }}" class="button-link">退出</a>
</div>
<h1>个性化图像生成应用</h1>
<form method="POST" enctype="multipart/form-data" class="wwdnb">
    <div>
        <label for="input-image">上传图片:</label>
        <input type="file" id="input-image" name="input-image" accept="image/*" required>
    </div>
    <img id="input-preview" src="#" alt="Input Image Preview" style="display:none;" class="input-image">
    <div>
        <label for="style-image">风格图片:</label>
        <input type="file" id="style-image" name="style-image" accept="image/*" required>
    </div>
    <img id="style-preview" src="#" alt="Style Image Preview" style="display:none;" class="style-image">
    <button type="submit">风格迁移</button>
</form>
{% if output_image %}
<h2>最终效果图</h2>
<img src="{{ url_for('output_image') }}" alt="Output Image">
<button onclick="downloadImage()" type="submit">下载图片</button>
<a href="{{ url_for('wwdnb') }}" class="oo">图片分享</a>
{% endif %}
<script>
    var inputImage = document.getElementById('input-image');
    var inputPreview = document.getElementById('input-preview');
    inputImage.addEventListener('change', function () {
        var file = inputImage.files[0];
        var reader = new FileReader();
        reader.onload = function () {
            inputPreview.src = reader.result;
            inputPreview.style.display = 'block';
        }
        reader.readAsDataURL(file);
    });
    var styleImage = document.getElementById('style-image');
    var stylePreview = document.getElementById('style-preview');
    styleImage.addEventListener('change', function () {
        var file = styleImage.files[0];
        var reader = new FileReader();
        reader.onload = function () {
            stylePreview.src = reader.result;
            stylePreview.style.display = 'block';
        }
        reader.readAsDataURL(file);
    });
</script>
<script>
    function downloadImage() {
        // 创建一个临时的a元素用于下载
        var downloadLink = document.createElement("a");
        downloadLink.href = "{{ url_for('output_image') }}";
        downloadLink.download = "20.jpg"; // 设置下载文件的默认文件名
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink); // 下载完成后移除元素
    }
</script>
</body>
</html>
